@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/noticebar.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/image-picker.scss";
@import "~taro-ui/dist/style/components/timeline.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/drawer.scss";
@import "~taro-ui/dist/style/components/list.scss";

.pages-index-index{
  @include display-flex;
  flex-direction: column;
  &__swiper{
    &__item{
      &__img{
        width: 100%;
        height: 360px;
      }
    }
  }
  &__button{
    margin-top: $spacing-h-xl;
  }
  &__timeline{
    @include display-flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
