@import "../../../theme";

.pages-nodes-index{
  &__item{
    @include padding-horizontal($spacing-md);
    &__title{
      background-color: $color-bg-grey;
      justify-content: center;
      @include display-flex;
      @include margin-vertical($spacing-md);
      @include padding-vertical($spacing-sm);
      &__text{
        color: $color-text-base;
        @include font-size($font-size-base);
      }
    }
    &__child{
      color: $color-text-secondary;
      @include font-size($font-size-base);
      padding-right: $spacing-md;
    }
  }

  &__layout{
    &__info{
      @include flex-direction(row);
      align-items: center;
      padding: $spacing-md;
      justify-content: space-around;
      &__left{
        align-items: center;
        @include flex-direction(row);
        &__avatar{

        }
        &__header{
          @include flex-direction;
          align-items: flex-start;
          padding-left: $spacing-md;
          &__title{
            color: $color-text-base;
            @include font-size($font-size-base);
          }
          &__subtitle{

          }

        }
      }
      &__right{
        flex: 1;
        @include flex-direction;
        align-items: center;
        &__topics{
        }
        &__star{
        }

      }
    }
    &__content{
      padding-left: $spacing-md;
      padding-top: $spacing-md;
    }
  }
}
