@import "../../theme";
@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/icon.scss";
//@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/tag.scss";

.pages-index-index{
  &__block{
    width: 100%;
    padding: $spacing-md;
    @include flex-direction(row);
    align-items: center;
    &__left{
      width: 85%;
      @include flex-direction(row);
      &__thumb{
        &__img{
        }
      }
      &__info{
        padding-left: $spacing-md;
        @include flex-direction;
        justify-content: space-between;
        &__title{
          color: $color-text-base;
          @include line(2);
          @include font-size($font-size-base);
        }
        &__subtitle{
          @include flex-direction(row);
          color: $color-border-grey;
          align-items: center;
          @include font-size($font-size-sm);
          &__node-title{

          }
          &__username{
            font-weight: bold;
          }
          &__dot,&__last_reply_icon{
            @include padding-horizontal($spacing-sm);
            &__inner{
              font-size: 12px;
            }
          }
          &__text{
            @include padding-horizontal($spacing-sm);
            color: $color-text-base;
            @include font-size($font-size-base);
          }

          &__last_reply_by{
            color: $color-text-placeholder;
            &__username{
              padding-left: $spacing-sm;
              color: $color-text-base;
            }
          }
        }
      }
    }
    &__right{
      width: 15%;
      @include flex-direction(row);
      justify-content: center;
      &__inner{
        &__tag{
          @include display-flex;
          align-items: center;
          background-color: $color-grey-4;
          color: $color-text-base-inverse;
          @include font-size($spacing-md)
        }
      }

    }
  }
}
