@import "../../theme";

.pages-nodes-index{
  &__item{
    @include padding-horizontal($spacing-md);
    &__title{
      background-color: $color-bg-grey;
      justify-content: center;
      @include display-flex;
      @include margin-vertical($spacing-md);
      @include padding-vertical($spacing-sm);
      &__text{
        color: $color-text-base;
        @include font-size($font-size-base);
      }
    }
    &__child{
      color: $color-text-secondary;
      @include font-size($font-size-base);
      padding-right: $spacing-md;
    }
  }

}
