
// 默认主题下 $color-border-light

@mixin border-thin(
  $color: $color-border-light,
  $style: solid,
  $directions: top bottom right left,
  $width: $one-pixel-width
) {
  @each $value in $directions {
    border-#{$value}-width: $width;
    border-#{$value}-color: $color;
    /*postcss-pxtransform rn eject enable*/
    border-#{$value}-style: $style;
    /*postcss-pxtransform rn eject disable*/
  }
}

@mixin border-thin-top(
  $color: $color-border-light,
  $style: solid,
  $width: $one-pixel-width
) {
  @include border-thin($color, $style, top, $width);
}

@mixin border-thin-left(
  $color: $color-border-light,
  $style: solid,
  $width: $one-pixel-width
) {
  @include border-thin($color, $style, left, $width);
}

@mixin border-thin-right(
  $color: $color-border-light,
  $style: solid,
  $width: $one-pixel-width
) {
  @include border-thin($color, $style, right, $width);
}

@mixin border-thin-bottom(
  $color: $color-border-light,
  $style: solid,
  $width: $one-pixel-width
) {
  @include border-thin($color, $style, bottom, $width);
}

@mixin border-radius-sm {
  border-radius: $border-radius-sm;
}

@mixin border-radius-md {
  border-radius: $border-radius-md;
}

@mixin border-radius-lg {
  border-radius: $border-radius-lg;
}
