@mixin line($num: 1) {
  overflow: hidden;

  /*postcss-pxtransform rn eject enable*/
  text-overflow: ellipsis;
  @if ($num == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $num;

    /* autoprefixer: off */
    -webkit-box-orient: vertical;
  }
  /*postcss-pxtransform rn eject disable*/
}
